<a href="https://colab.research.google.com/github/LiZhen97/Deep-Neural-Networks/blob/main/assignment_class4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/jeffheaton/t81_558_deep_learning/blob/master/assignments/assignment_yourname_class4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# T81-558: Applications of Deep Neural Networks
* Instructor: [Jeff Heaton](https://sites.wustl.edu/jeffheaton/), School of Engineering and Applied Science, [Washington University in St. Louis](https://engineering.wustl.edu/Programs/Pages/default.aspx)
* For more information visit the [class website](https://sites.wustl.edu/jeffheaton/t81-558/).

**Module 4 Assignment: Classification and Regression Neural Network**

**Student Name: Your Name**

# Assignment Instructions

For this assignment, you will use the **crx.csv** dataset.  This dataset is a public dataset that can you can find [here](https://archive.ics.uci.edu/ml/datasets/credit+approval). You should use the CSV file on my data site, at this location: [crx.csv](https://data.heatonresearch.com/data/t81-558/crx.csv) because it includes column headers.  The primary use for this dataset is binary classification. There are 15 attributes, plus a target column that contains only + or -.  Some of the columns have missing values.

You should train a neural network and return the predictions.  You will submit these predictions to the **submit** function.  See [Assignment #1](https://github.com/jeffheaton/t81_558_deep_learning/blob/master/assignments/assignment_yourname_class1.ipynb) for details on how to submit an assignment or check that one was submitted.

Complete the following tasks:

* Your task is to replace missing values in columns *a2* and *a14* with values estimated by a neural network (one neural network for *a2* and another for *a14*).
* Your submission file will contain the same headers as the source CSV: *a1*, *a2*, *s3*, *a4*, *a5*, *a6*, *a7*, *a8*, *a9*, *a10*, *a11*, *a12*, *a13*, *a14*, *a15*, and *a16*.
* You should only need to modify *a2* and *a14*.
* Neural networks can be much more powerful at filling missing variables than median and mean.
* Train two neural networks to predict *a2* and *a14*.  
* The *y* (target) for training the two nets will be *a2* and *a14*, depending on which you are trying to fill.
* The x for training the two nets will be 's3','a8','a9','a10','a11','a12','a13','a15'.  These are chosen because it is important not to use any columns with missing values; also, it could cause unwanted bias if we include the ultimate target (*a16*).
* ONLY predict new values for missing values in *a2* and *a14*.
* You will likely get this small warning:  Warning: The mean of column a14 differs from the solution file by 0.20238937709643778. (might not matter if small)

# Google CoLab Instructions

If you are using Google CoLab, it will be necessary to mount your GDrive so that you can send your notebook during the submit process. Running the following code will map your GDrive to ```/content/drive```.

In [2]:
try:
    from google.colab import drive
    drive.mount('/content/drive', force_remount=True)
    COLAB = True
    print("Note: using Google CoLab")
except:
    print("Note: not using Google CoLab")
    COLAB = False

Mounted at /content/drive
Note: using Google CoLab

# Assignment Submit Function

You will submit the ten programming assignments electronically.  The following **submit** function can be used to do this.  My server will perform a basic check of each assignment and let you know if it sees any underlying problems. 

**It is unlikely that should need to modify this function.**

In [3]:
import base64
import os
import numpy as np
import pandas as pd
import requests
import PIL
import PIL.Image
import io

# This function submits an assignment.  You can submit an assignment as much as you like, only the final
# submission counts.  The paramaters are as follows:
# data - List of pandas dataframes or images.
# key - Your student key that was emailed to you.
# no - The assignment class number, should be 1 through 1.
# source_file - The full path to your Python or IPYNB file.  This must have "_class1" as part of its name.  
# .             The number must match your assignment number.  For example "_class2" for class assignment #2.
def submit(data,key,no,source_file=None):
    if source_file is None and '__file__' not in globals(): raise Exception('Must specify a filename when a Jupyter notebook.')
    if source_file is None: source_file = __file__
    suffix = '_class{}'.format(no)
    if suffix not in source_file: raise Exception('{} must be part of the filename.'.format(suffix))
    with open(source_file, "rb") as image_file:
        encoded_python = base64.b64encode(image_file.read()).decode('ascii')
    ext = os.path.splitext(source_file)[-1].lower()
    if ext not in ['.ipynb','.py']: raise Exception("Source file is {} must be .py or .ipynb".format(ext))
    payload = []
    for item in data:
        if type(item) is PIL.Image.Image:
            buffered = BytesIO()
            item.save(buffered, format="PNG")
            payload.append({'PNG':base64.b64encode(buffered.getvalue()).decode('ascii')})
        elif type(item) is pd.core.frame.DataFrame:
            payload.append({'CSV':base64.b64encode(item.to_csv(index=False).encode('ascii')).decode("ascii")})
    r= requests.post("https://api.heatonresearch.com/assignment-submit",
        headers={'x-api-key':key}, json={ 'payload': payload,'assignment': no, 'ext':ext, 'py':encoded_python})
    if r.status_code==200:
        print("Success: {}".format(r.text))
    else: print("Failure: {}".format(r.text))

# Assignment #4 Sample Code

The following code provides a starting point for this assignment.

In [23]:
import os
import pandas as pd
from scipy.stats import zscore
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation
import pandas as pd
import io
import requests
import numpy as np
from sklearn import metrics

# This is your student key that I emailed to you at the beginnning of the semester.
key = "eaT4qNtOTV4YNWzOIPMr83juoEsVZAkH7gPcxQ4P"  # This is an example key and will not work.

# You must also identify your source file.  (modify for your local setup)
file='/content/drive/My Drive/Colab Notebooks/assignment_ZhenLi_class4.ipynb'  # Google CoLab
# file='C:\\Users\\jeffh\\projects\\t81_558_deep_learning\\assignments\\assignment_yourname_class4.ipynb'  # Windows
#file='/Users/jheaton/projects/t81_558_deep_learning/assignments/assignment_yourname_class4.ipynb'  # Mac/Linux

# Begin assignment
df = pd.read_csv("https://data.heatonresearch.com/data/t81-558/crx.csv",na_values=['?'])

In [5]:
from scipy.stats import zscore
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation
from tensorflow.keras.callbacks import EarlyStopping
from sklearn import metrics

In [6]:
df

    a1     a2      s3 a4 a5  a6  a7    a8 a9 a10  a11 a12 a13    a14  a15 a16
0    b  30.83   0.000  u  g   w   v  1.25  t   t    1   f   g  202.0    0   +
1    a  58.67   4.460  u  g   q   h  3.04  t   t    6   f   g   43.0  560   +
2    a  24.50   0.500  u  g   q   h  1.50  t   f    0   f   g  280.0  824   +
3    b  27.83   1.540  u  g   w   v  3.75  t   t    5   t   g  100.0    3   +
4    b  20.17   5.625  u  g   w   v  1.71  t   f    0   f   s  120.0    0   +
..  ..    ...     ... .. ..  ..  ..   ... ..  ..  ...  ..  ..    ...  ...  ..
685  b  21.08  10.085  y  p   e   h  1.25  f   f    0   f   g  260.0    0   -
686  a  22.67   0.750  u  g   c   v  2.00  f   t    2   t   g  200.0  394   -
687  a  25.25  13.500  y  p  ff  ff  2.00  f   t    1   t   g  200.0    1   -
688  b  17.92   0.205  u  g  aa   v  0.04  f   f    0   f   g  280.0  750   -
689  b  35.00   3.375  u  g   c   h  8.29  f   f    0   t   g    0.0    0   -

[690 rows x 16 columns]

In [7]:
# encode the features
# use s3','a8','a9','a10','a11','a12','a13','a15 to be X
x = df[['s3','a8','a9','a10','a11','a12','a13','a15','a2','a14']].copy()
x = pd.concat([x,pd.get_dummies(df['a9'],prefix="a9")],axis=1)
x.drop('a9', axis=1, inplace=True)

x = pd.concat([x,pd.get_dummies(df['a10'],prefix="a10")],axis=1)
x.drop('a10', axis=1, inplace=True)

x = pd.concat([x,pd.get_dummies(df['a12'],prefix="a12")],axis=1)
x.drop('a12', axis=1, inplace=True)

x = pd.concat([x,pd.get_dummies(df['a13'],prefix="a13")],axis=1)
x.drop('a13', axis=1, inplace=True)

In [14]:
x

,s3,a8,a11,a15,a2,a14,a9_f,a9_t,a10_f,a10_t,a12_f,a12_t,a13_g,a13_p,a13_s
0,0.000,1.25,1,0,30.83,202.0,0,1,0,1,1,0,1,0,0
1,4.460,3.04,6,560,58.67,43.0,0,1,0,1,1,0,1,0,0
2,0.500,1.50,0,824,24.50,280.0,0,1,1,0,1,0,1,0,0
3,1.540,3.75,5,3,27.83,100.0,0,1,0,1,0,1,1,0,0
4,5.625,1.71,0,0,20.17,120.0,0,1,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,10.085,1.25,0,0,21.08,260.0,1,0,1,0,1,0,1,0,0
686,0.750,2.00,2,394,22.67,200.0,1,0,0,1,0,1,1,0,0
687,13.500,2.00,1,1,25.25,200.0,1,0,0,1,0,1,1,0,0
688,0.205,0.04,0,750,17.92,280.0,1,0,1,0,1,0,1,0,0
689,3.375,8.29,0,0,35.00,0.0,1,0,1,0,0,1,1,0,0

In [26]:
from re import X
from scipy.stats import zscore
# replace missing values in columns a2 and a14 with values estimated by a neural network (one neural network for a2 and another for a14)
# use s3','a8','a9','a10','a11','a12','a13','a15 to be X
def fill_missing_numeric(df,target):
    # Fill in as needed
    new_df = df.dropna()
    print(new_df)
    x = new_df.drop(['a2', 'a14'], axis=1)
    x = x.values
    y = new_df[target].values
    #split dataset
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=11)
    # build neural network
    # Build the neural network
    model = Sequential()
    model.add(Dense(25, input_dim=x.shape[1], activation='relu')) # Hidden 1
    model.add(Dense(10, activation='relu')) # Hidden 2
    model.add(Dense(1)) # Output
    model.compile(loss='mean_squared_error', optimizer='adam')
    monitor = EarlyStopping(monitor='val_loss', min_delta=1e-3, 
                        patience=5, verbose=1, mode='auto', 
                        restore_best_weights=True)
    model.fit(x_train,y_train,validation_data=(x_test,y_test),callbacks=[monitor],verbose=2,epochs=1000)
    
    # Predict
    pred = model.predict(x_test)

    # Measure MSE error.  
    score = metrics.mean_squared_error(pred,y_test)
    print("Final score (MSE): {}".format(score))

    #caculate missing value
    print("calculate missing value")
    missing_rows = df.loc[df[target].isnull()]
    print(missing_rows)
    for i in range(len(df)):
      if np.isnan(df.loc[i, target]):
        row = df.iloc[i, :].drop(['a2','a14'])
        #row = row.values
       # print("----")
        y_pred = model.predict(row.values.reshape(1, -1))
        df.loc[i, target] = y_pred[0][0]
       # df[i, 'a'] = y_pred
    return df

res = fill_missing_numeric(x, 'a2')
res = fill_missing_numeric(x, 'a14')

           s3    a8  a11       a15     a2    a14  a9_f  a9_t  a10_f  a10_t  \
0   -0.956613  1.25    1 -0.195413  30.83  202.0     0     1      0      1
1   -0.060051  3.04    6 -0.087852  58.67   43.0     0     1      0      1
2   -0.856102  1.50    0 -0.037144  24.50  280.0     0     1      1      0
3   -0.647038  3.75    5 -0.194837  27.83  100.0     0     1      0      1
4    0.174141  1.71    0 -0.195413  20.17  120.0     0     1      1      0
..        ...   ...  ...       ...    ...    ...   ...   ...    ...    ...
685  1.070704  1.25    0 -0.195413  21.08  260.0     1     0      1      0
686 -0.805846  2.00    2 -0.119736  22.67  200.0     1     0      0      1
687  1.757198  2.00    1 -0.195221  25.25  200.0     1     0      0      1
688 -0.915403  0.04    0 -0.051358  17.92  280.0     1     0      1      0
689 -0.278161  8.29    0 -0.195413  35.00    0.0     1     0      1      0

     a12_f  a12_t  a13_g  a13_p  a13_s
0        1      0      1      0      0
1        1      0      1      0      0
2        1      0      1      0      0
3        0      1      1      0      0
4        1      0      0      0      1
..     ...    ...    ...    ...    ...
685      1      0      1      0      0
686      0      1      1      0      0
687      0      1      1      0      0
688      1      0      1      0      0
689      0      1      1      0      0

[690 rows x 15 columns]
Epoch 1/1000
18/18 - 1s - loss: 1179.3035 - val_loss: 1122.8494 - 1s/epoch - 61ms/step
Epoch 2/1000
18/18 - 0s - loss: 1121.6680 - val_loss: 1061.5294 - 65ms/epoch - 4ms/step
Epoch 3/1000
18/18 - 0s - loss: 1064.0846 - val_loss: 992.3104 - 80ms/epoch - 4ms/step
Epoch 4/1000
18/18 - 0s - loss: 989.1115 - val_loss: 898.3794 - 71ms/epoch - 4ms/step
Epoch 5/1000
18/18 - 0s - loss: 884.5941 - val_loss: 771.2706 - 90ms/epoch - 5ms/step
Epoch 6/1000
18/18 - 0s - loss: 743.4277 - val_loss: 631.3698 - 76ms/epoch - 4ms/step
Epoch 7/1000
18/18 - 0s - loss: 586.2129 - val_loss: 495.7936 - 92ms/epoch - 5ms/step
Epoch 8/1000
18/18 - 0s - loss: 436.8490 - val_loss: 398.6049 - 69ms/epoch - 4ms/step
Epoch 9/1000
18/18 - 0s - loss: 320.5361 - val_loss: 352.4284 - 71ms/epoch - 4ms/step
Epoch 10/1000
18/18 - 0s - loss: 254.2895 - val_loss: 327.1273 - 67ms/epoch - 4ms/step
Epoch 11/1000
18/18 - 0s - loss: 216.7690 - val_loss: 294.7988 - 83ms/epoch - 5ms/step
Epoch 12/1000
18/18 - 0s - loss: 191.7694 - val_loss: 271.8480 - 68ms/epoch - 4ms/step
Epoch 13/1000
18/18 - 0s - loss: 173.5658 - val_loss: 238.3667 - 89ms/epoch - 5ms/step
Epoch 14/1000
18/18 - 0s - loss: 158.0982 - val_loss: 220.6617 - 76ms/epoch - 4ms/step
Epoch 15/1000
18/18 - 0s - loss: 148.8667 - val_loss: 202.3977 - 68ms/epoch - 4ms/step
Epoch 16/1000
18/18 - 0s - loss: 141.6723 - val_loss: 191.8700 - 80ms/epoch - 4ms/step
Epoch 17/1000
18/18 - 0s - loss: 136.9065 - val_loss: 181.4933 - 72ms/epoch - 4ms/step
Epoch 18/1000
18/18 - 0s - loss: 133.0730 - val_loss: 177.2162 - 87ms/epoch - 5ms/step
Epoch 19/1000
18/18 - 0s - loss: 130.7259 - val_loss: 173.3315 - 67ms/epoch - 4ms/step
Epoch 20/1000
18/18 - 0s - loss: 129.0038 - val_loss: 169.0785 - 80ms/epoch - 4ms/step
Epoch 21/1000
18/18 - 0s - loss: 127.2194 - val_loss: 168.6287 - 90ms/epoch - 5ms/step
Epoch 22/1000
18/18 - 0s - loss: 126.1670 - val_loss: 168.6583 - 70ms/epoch - 4ms/step
Epoch 23/1000
18/18 - 0s - loss: 125.2094 - val_loss: 165.9767 - 74ms/epoch - 4ms/step
Epoch 24/1000
18/18 - 0s - loss: 124.5344 - val_loss: 164.4649 - 72ms/epoch - 4ms/step
Epoch 25/1000
18/18 - 0s - loss: 123.9979 - val_loss: 166.7009 - 65ms/epoch - 4ms/step
Epoch 26/1000
18/18 - 0s - loss: 123.4134 - val_loss: 162.5784 - 87ms/epoch - 5ms/step
Epoch 27/1000
18/18 - 0s - loss: 122.4412 - val_loss: 163.5220 - 79ms/epoch - 4ms/step
Epoch 28/1000
18/18 - 0s - loss: 122.0344 - val_loss: 163.9981 - 71ms/epoch - 4ms/step
Epoch 29/1000
18/18 - 0s - loss: 121.5203 - val_loss: 163.2196 - 69ms/epoch - 4ms/step
Epoch 30/1000
18/18 - 0s - loss: 121.1499 - val_loss: 164.1771 - 63ms/epoch - 4ms/step
Epoch 31/1000
Restoring model weights from the end of the best epoch: 26.
18/18 - 0s - loss: 120.9746 - val_loss: 164.9175 - 73ms/epoch - 4ms/step
Epoch 31: early stopping
5/5 [==============================] - 0s 3ms/step
Final score (MSE): 162.5784526685763
calculate missing value
Empty DataFrame
Columns: [s3, a8, a11, a15, a2, a14, a9_f, a9_t, a10_f, a10_t, a12_f, a12_t, a13_g, a13_p, a13_s]
Index: []
           s3    a8  a11       a15     a2    a14  a9_f  a9_t  a10_f  a10_t  \
0   -0.956613  1.25    1 -0.195413  30.83  202.0     0     1      0      1
1   -0.060051  3.04    6 -0.087852  58.67   43.0     0     1      0      1
2   -0.856102  1.50    0 -0.037144  24.50  280.0     0     1      1      0
3   -0.647038  3.75    5 -0.194837  27.83  100.0     0     1      0      1
4    0.174141  1.71    0 -0.195413  20.17  120.0     0     1      1      0
..        ...   ...  ...       ...    ...    ...   ...   ...    ...    ...
685  1.070704  1.25    0 -0.195413  21.08  260.0     1     0      1      0
686 -0.805846  2.00    2 -0.119736  22.67  200.0     1     0      0      1
687  1.757198  2.00    1 -0.195221  25.25  200.0     1     0      0      1
688 -0.915403  0.04    0 -0.051358  17.92  280.0     1     0      1      0
689 -0.278161  8.29    0 -0.195413  35.00    0.0     1     0      1      0

     a12_f  a12_t  a13_g  a13_p  a13_s
0        1      0      1      0      0
1        1      0      1      0      0
2        1      0      1      0      0
3        0      1      1      0      0
4        1      0      0      0      1
..     ...    ...    ...    ...    ...
685      1      0      1      0      0
686      0      1      1      0      0
687      0      1      1      0      0
688      1      0      1      0      0
689      0      1      1      0      0

[690 rows x 15 columns]
Epoch 1/1000
18/18 - 1s - loss: 58686.8594 - val_loss: 82548.6172 - 877ms/epoch - 49ms/step
Epoch 2/1000
18/18 - 0s - loss: 58403.1484 - val_loss: 82219.1562 - 82ms/epoch - 5ms/step
Epoch 3/1000
18/18 - 0s - loss: 58133.9297 - val_loss: 81875.4766 - 80ms/epoch - 4ms/step
Epoch 4/1000
18/18 - 0s - loss: 57825.3086 - val_loss: 81483.7266 - 81ms/epoch - 4ms/step
Epoch 5/1000
18/18 - 0s - loss: 57448.4844 - val_loss: 80957.5703 - 67ms/epoch - 4ms/step
Epoch 6/1000
18/18 - 0s - loss: 56939.4258 - val_loss: 80268.5234 - 81ms/epoch - 5ms/step
Epoch 7/1000
18/18 - 0s - loss: 56259.7734 - val_loss: 79337.4531 - 79ms/epoch - 4ms/step
Epoch 8/1000
18/18 - 0s - loss: 55355.7383 - val_loss: 78146.2266 - 104ms/epoch - 6ms/step
Epoch 9/1000
18/18 - 0s - loss: 54199.1172 - val_loss: 76614.6328 - 75ms/epoch - 4ms/step
Epoch 10/1000
18/18 - 0s - loss: 52696.5977 - val_loss: 74678.5625 - 82ms/epoch - 5ms/step
Epoch 11/1000
18/18 - 0s - loss: 50793.5547 - val_loss: 72414.2109 - 75ms/epoch - 4ms/step
Epoch 12/1000
18/18 - 0s - loss: 48557.3320 - val_loss: 69837.2734 - 69ms/epoch - 4ms/step
Epoch 13/1000
18/18 - 0s - loss: 46069.7500 - val_loss: 67194.1016 - 83ms/epoch - 5ms/step
Epoch 14/1000
18/18 - 0s - loss: 43652.3984 - val_loss: 64771.1875 - 67ms/epoch - 4ms/step
Epoch 15/1000
18/18 - 0s - loss: 41267.1953 - val_loss: 62659.0078 - 72ms/epoch - 4ms/step
Epoch 16/1000
18/18 - 0s - loss: 39222.2539 - val_loss: 60718.7148 - 66ms/epoch - 4ms/step
Epoch 17/1000
18/18 - 0s - loss: 37242.9453 - val_loss: 59059.2266 - 72ms/epoch - 4ms/step
Epoch 18/1000
18/18 - 0s - loss: 35584.8594 - val_loss: 57471.1211 - 63ms/epoch - 3ms/step
Epoch 19/1000
18/18 - 0s - loss: 34081.1289 - val_loss: 56048.4648 - 72ms/epoch - 4ms/step
Epoch 20/1000
18/18 - 0s - loss: 32642.1230 - val_loss: 54617.0547 - 77ms/epoch - 4ms/step
Epoch 21/1000
18/18 - 0s - loss: 31335.0879 - val_loss: 53356.4336 - 68ms/epoch - 4ms/step
Epoch 22/1000
18/18 - 0s - loss: 30224.7949 - val_loss: 52261.2891 - 67ms/epoch - 4ms/step
Epoch 23/1000
18/18 - 0s - loss: 29195.7969 - val_loss: 51306.1758 - 88ms/epoch - 5ms/step
Epoch 24/1000
18/18 - 0s - loss: 28313.6387 - val_loss: 50402.7383 - 69ms/epoch - 4ms/step
Epoch 25/1000
18/18 - 0s - loss: 27514.5918 - val_loss: 49691.9883 - 94ms/epoch - 5ms/step
Epoch 26/1000
18/18 - 0s - loss: 26869.4395 - val_loss: 49068.3945 - 115ms/epoch - 6ms/step
Epoch 27/1000
18/18 - 0s - loss: 26265.6465 - val_loss: 48476.0742 - 101ms/epoch - 6ms/step
Epoch 28/1000
18/18 - 0s - loss: 25701.7656 - val_loss: 48015.5859 - 102ms/epoch - 6ms/step
Epoch 29/1000
18/18 - 0s - loss: 25269.3477 - val_loss: 47633.6992 - 104ms/epoch - 6ms/step
Epoch 30/1000
18/18 - 0s - loss: 24893.3066 - val_loss: 47313.6445 - 100ms/epoch - 6ms/step
Epoch 31/1000
18/18 - 0s - loss: 24533.5137 - val_loss: 47081.3438 - 105ms/epoch - 6ms/step
Epoch 32/1000
18/18 - 0s - loss: 24285.9688 - val_loss: 46885.7734 - 169ms/epoch - 9ms/step
Epoch 33/1000
18/18 - 0s - loss: 24042.7383 - val_loss: 46709.9961 - 145ms/epoch - 8ms/step
Epoch 34/1000
18/18 - 0s - loss: 23899.1562 - val_loss: 46578.8594 - 105ms/epoch - 6ms/step
Epoch 35/1000
18/18 - 0s - loss: 23694.4297 - val_loss: 46484.7305 - 118ms/epoch - 7ms/step
Epoch 36/1000
18/18 - 0s - loss: 23530.0195 - val_loss: 46399.1836 - 106ms/epoch - 6ms/step
Epoch 37/1000
18/18 - 0s - loss: 23408.5859 - val_loss: 46321.5664 - 107ms/epoch - 6ms/step
Epoch 38/1000
18/18 - 0s - loss: 23315.4883 - val_loss: 46283.7500 - 98ms/epoch - 5ms/step
Epoch 39/1000
18/18 - 0s - loss: 23229.1621 - val_loss: 46189.7148 - 98ms/epoch - 5ms/step
Epoch 40/1000
18/18 - 0s - loss: 23162.9082 - val_loss: 46154.4141 - 97ms/epoch - 5ms/step
Epoch 41/1000
18/18 - 0s - loss: 23091.2207 - val_loss: 46115.5273 - 105ms/epoch - 6ms/step
Epoch 42/1000
18/18 - 0s - loss: 23031.0625 - val_loss: 46057.8828 - 116ms/epoch - 6ms/step
Epoch 43/1000
18/18 - 0s - loss: 22977.8789 - val_loss: 46050.3516 - 106ms/epoch - 6ms/step
Epoch 44/1000
18/18 - 0s - loss: 22926.4160 - val_loss: 45995.6719 - 97ms/epoch - 5ms/step
Epoch 45/1000
18/18 - 0s - loss: 22882.4082 - val_loss: 45973.9688 - 95ms/epoch - 5ms/step
Epoch 46/1000
18/18 - 0s - loss: 22847.7441 - val_loss: 45934.7539 - 108ms/epoch - 6ms/step
Epoch 47/1000
18/18 - 0s - loss: 22800.8477 - val_loss: 45921.7188 - 112ms/epoch - 6ms/step
Epoch 48/1000
18/18 - 0s - loss: 22759.6953 - val_loss: 45912.4414 - 116ms/epoch - 6ms/step
Epoch 49/1000
18/18 - 0s - loss: 22729.5449 - val_loss: 45885.0273 - 126ms/epoch - 7ms/step
Epoch 50/1000
18/18 - 0s - loss: 22695.8398 - val_loss: 45854.1719 - 113ms/epoch - 6ms/step
Epoch 51/1000
18/18 - 0s - loss: 22670.9062 - val_loss: 45833.4062 - 120ms/epoch - 7ms/step
Epoch 52/1000
18/18 - 0s - loss: 22645.1465 - val_loss: 45819.1289 - 123ms/epoch - 7ms/step
Epoch 53/1000
18/18 - 0s - loss: 22630.5586 - val_loss: 45809.9180 - 95ms/epoch - 5ms/step
Epoch 54/1000
18/18 - 0s - loss: 22599.3965 - val_loss: 45822.1836 - 99ms/epoch - 6ms/step
Epoch 55/1000
18/18 - 0s - loss: 22573.4102 - val_loss: 45802.7891 - 96ms/epoch - 5ms/step
Epoch 56/1000
18/18 - 0s - loss: 22570.0703 - val_loss: 45791.2930 - 106ms/epoch - 6ms/step
Epoch 57/1000
18/18 - 0s - loss: 22519.9180 - val_loss: 45749.2539 - 102ms/epoch - 6ms/step
Epoch 58/1000
18/18 - 0s - loss: 22510.6816 - val_loss: 45729.9258 - 99ms/epoch - 6ms/step
Epoch 59/1000
18/18 - 0s - loss: 22493.5547 - val_loss: 45720.7812 - 110ms/epoch - 6ms/step
Epoch 60/1000
18/18 - 0s - loss: 22474.4453 - val_loss: 45708.6836 - 112ms/epoch - 6ms/step
Epoch 61/1000
18/18 - 0s - loss: 22444.4570 - val_loss: 45702.5078 - 110ms/epoch - 6ms/step
Epoch 62/1000
18/18 - 0s - loss: 22447.5586 - val_loss: 45697.2422 - 74ms/epoch - 4ms/step
Epoch 63/1000
18/18 - 0s - loss: 22457.5703 - val_loss: 45720.1953 - 62ms/epoch - 3ms/step
Epoch 64/1000
18/18 - 0s - loss: 22405.8379 - val_loss: 45697.8867 - 64ms/epoch - 4ms/step
Epoch 65/1000
18/18 - 0s - loss: 22392.1934 - val_loss: 45723.4258 - 63ms/epoch - 4ms/step
Epoch 66/1000
18/18 - 0s - loss: 22385.6738 - val_loss: 45720.9023 - 65ms/epoch - 4ms/step
Epoch 67/1000
Restoring model weights from the end of the best epoch: 62.
18/18 - 0s - loss: 22376.2051 - val_loss: 45720.2031 - 88ms/epoch - 5ms/step
Epoch 67: early stopping
5/5 [==============================] - 0s 3ms/step
Final score (MSE): 45697.2450144779
calculate missing value
Empty DataFrame
Columns: [s3, a8, a11, a15, a2, a14, a9_f, a9_t, a10_f, a10_t, a12_f, a12_t, a13_g, a13_p, a13_s]
Index: []

In [32]:
df

    a1     a2      s3 a4 a5  a6  a7    a8 a9 a10  a11 a12 a13    a14  a15 a16
0    b  30.83   0.000  u  g   w   v  1.25  t   t    1   f   g  202.0    0   +
1    a  58.67   4.460  u  g   q   h  3.04  t   t    6   f   g   43.0  560   +
2    a  24.50   0.500  u  g   q   h  1.50  t   f    0   f   g  280.0  824   +
3    b  27.83   1.540  u  g   w   v  3.75  t   t    5   t   g  100.0    3   +
4    b  20.17   5.625  u  g   w   v  1.71  t   f    0   f   s  120.0    0   +
..  ..    ...     ... .. ..  ..  ..   ... ..  ..  ...  ..  ..    ...  ...  ..
685  b  21.08  10.085  y  p   e   h  1.25  f   f    0   f   g  260.0    0   -
686  a  22.67   0.750  u  g   c   v  2.00  f   t    2   t   g  200.0  394   -
687  a  25.25  13.500  y  p  ff  ff  2.00  f   t    1   t   g  200.0    1   -
688  b  17.92   0.205  u  g  aa   v  0.04  f   f    0   f   g  280.0  750   -
689  b  35.00   3.375  u  g   c   h  8.29  f   f    0   t   g    0.0    0   -

[690 rows x 16 columns]

In [33]:
df['a2'] = res['a2']
df['a14'] = res['a14']
submit(source_file=file,data=[df],key=key,no=4)

Success: Submitted Assignment 4 for li.zhen1:
You have submitted this assignment 2 times. (this is fine)
Note: The mean difference 0.012322538010138828 for column 'a2' is acceptable and is less than the maximum allowed value of '1.0' for this assignment.
Note: The mean difference 0.567602926060772 for column 'a14' is acceptable and is less than the maximum allowed value of '1.0' for this assignment.
No warnings or errors (only notes), you will probably do well, but no guarantee. :-)